<div class="login-wrapper d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class=" ">
            <h3 class="">Login</h3>
          </div>
          <div *ngIf="loginErrorMessage" class="alert alert-danger">
            {{ loginErrorMessage }}
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter your username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
              </div>
              
              <button *ngIf="!isLoggedIn" type="submit" class="btn btn-primary btn-block mt-3">Login</button>
              <a *ngIf="isLoggedIn" routerLink="/albumlist" class="btn btn-primary btn-block">Go to Album List</a>
              
              <!-- Register Button -->
              <button *ngIf="!isLoggedIn" routerLink="/register" class="btn btn-secondary btn-block mt-3 ms-1">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
