<div *ngIf="loading" class="text-center">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="error" class="alert alert-danger" role="alert">
  {{ error }}
</div>

<div *ngIf="album" class="album-details">
  <h2>{{ album?.title }}</h2>
  <p>Artist: {{ album?.artist }}</p>
  <!-- Removed Description and User as they are not in the IAlbum interface -->
  <p>Release Date: {{ album?.releaseDate | date }}</p>
  <p>Genre: <span *ngFor="let genre of album?.genre; let last = last">{{ genre }}<span *ngIf="!last">, </span></span></p>
  <!-- Conditional display of cover image -->
  <div *ngIf="album?.coverImageUrl">
    <img [src]="album?.coverImageUrl" alt="{{ album?.title }} cover image">
  </div>

  <!-- Optionally, add a delete button -->
  <button *ngIf="album" (click)="deleteAlbum()" class="btn btn-danger">
    Delete Album
  </button>
  
  <!-- Back to List Button -->
  <button routerLink="/list" class="btn btn-secondary">Back to List</button>
</div>
